.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // menu top au dessus du menu
  .menu-top {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    &.hidden {
      display: none;
    }
    a {
      color: #fff;
      text-decoration: none;
      transition: 0.3s all ease-in-out;
      &:hover {
        color: #f8b600;
      }
    }
    .menu-top--left {
      ul {
        display: flex;
        li {
          margin: 10px;
          font-size: 14px;
        }
      }
    }
    .menu-top--right {
      display: flex;
      a {
        margin: 10px;
      }
    }
    @media screen and (min-width: 600px) {
      width: 580px;
    }
    @media screen and (min-width: 800px) {
      width: 780px;
    }
    @media screen and (min-width: 990px) {
      width: 970px;
    }
    @media screen and (min-width: 1200px) {
      width: 1180px;
    }
  }
  // menu principal
  .menu {
    position: fixed;
    width: 100%;
    top: 44px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.15);
    transition: 0.3s background ease-in-out;
    z-index: 4;
    &.fixed {
      top: 0;
      background-color: rgba(30, 30, 30, 0.8);
    }
    // links cachés
    .menu-links {
      position: fixed;
      top: 0;
      left: -260px;
      height: 100%;
      width: 260px;
      z-index: 10;
      background: rgba(0, 0, 0, 0.8);
      padding-top: 20px;
      cursor: pointer;
      transition: 0.3s left ease-in-out;
      &.active {
        left: 0;
      }
      li {
        a {
          display: inline-block;
          width: 100%;
          padding: 15px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          transition: 0.3s color ease-in-out;
          &:hover {
            color: #f8b600;
          }
        }
      }
      // disparition du menu
      @media screen and (min-width: 990px) {
        display: none;
      }
    }
    // menu en ligne à 990px
    .menu-links-990 {
      display: none;
      @media screen and (min-width: 990px) {
        display: block;
        position: absolute;
        height: 100%;
        right: 15px;
        top: 0;
        ul {
          height: 100%;
          display: flex;
          align-items: center;
          li {
            a {
              margin: 15px;
              color: #fff;
              text-decoration: none;
              text-transform: uppercase;
              transition: 0.3s color ease-in-out;
              &:hover {
                color: #f8b600;
              }
            }
          }
        }
      }
    }
    // filtre couvrant la page quand burger activé
    .filtre {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      background: rgba(0, 0, 0, 0.7);
      display: none;
      cursor: pointer;
      &.active {
        display: initial;
      }
    }
    // burger
    .burger {
      z-index: 6;
      position: relative;
      float: right;
      background: none;
      border: none;
      font-size: 25px;
      color: white;
      &.active {
        margin-right: 20px;
      }
      @media screen and (min-width: 990px) {
        display: none;
      }
    }
    @media screen and (min-width: 600px) {
      width: 580px;
    }
    @media screen and (min-width: 800px) {
      width: 780px;
    }
    @media screen and (min-width: 990px) {
      width: 970px;
    }
    @media screen and (min-width: 1200px) {
      width: 1180px;
    }
  }
}
